<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCZ9ixaqp-vJl7GZG9wA0qqzu90NLRCQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>501505723097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snapshare.teamskyblue.snapshare</string>
	<key>PROJECT_ID</key>
	<string>snapshare-b07e7</string>
	<key>STORAGE_BUCKET</key>
	<string>snapshare-b07e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501505723097:ios:d57ff00de4795fa79a0cc8</string>
	<key>DATABASE_URL</key>
	<string>https://snapshare-b07e7-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>